{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
    <div class="form-group">
        <label for="name">Name:</label>
        {{ form_widget(form.name,{
            'attr':{
                'class':'form-control',
                'placeholder': 'Task name'
            }
        }) }}
    </div>

    <input type="submit" name="edit_book" value="Edit" class="btn btn-primary"/>
    {{ form_end(form) }}

    <a href="{{ path('staff_list') }}" class="btn btn-default1">Back to Staff List</a>
{% endblock %}
